<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="Cin7CreateSales" value="http://cin7helpsite.azurewebsites.net/Sales/Create" />
    <add key="Cin7Products" value="http://cin7helpsite.azurewebsites.net/Products" />
    <add key="Cin7Sales" value="http://cin7helpsite.azurewebsites.net/Sales" />
  </appSettings>
  <specFlow>
  <unitTestProvider name="xUnit" /></specFlow>
</configuration>